body{
  padding: 0;
  margin: 0;
}

.header{
  text-align: center;
}

form {
background-color: WhiteSmoke;
padding: 1%;
}

.input{
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
}

.input input{
  width: 40%;
  margin: .5%;
}

.residence{
  display: flex;
  flex-direction: column;
}

.residence input {
  width: 50%;
  margin: .5%;
}

.employment{
  display: flex;
  flex-direction: column;
}

.employment input {
  width: 50%;
  margin: .5%;
}

input{
  padding: .5em;
  font-size: 12px;
}

#top-nav {
  background-color: darkgrey;
  margin-bottom: 1em;
  display: flex;
}

#top-nav a{
margin: .5em;
background: white;
padding: .5em;
text-decoration: none;
border-radius: 5px;
}

#top-nav a:hover{
background-color: orange;
}

#bottom-nav {
  background-color: darkgrey;
  width: 100%;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 0;
}
